<div class="container">
 <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-3 px-sm-0 mx-auto">
    <h2>User info</h2>
    <% if @user.errors.any? %>
    <div class="error">
     <h4><%=@user.errors.count %>error prohibited this obj from being saved:</h4>
      <ul>
       <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
    <%= form_with model:@user, local:true do |f| %>
     <p>Name</p>
     <%= f.text_field :name,class:"form-control name" %>
     <p class="mt-2">Image</p>
     <%= f.attachment_field :profile_image, class:"w-100" %>
     <p class="mt-2">Introduction</p>
     <%= f.text_area :introduction,class:"form-control introduction" %><br>
     <%= f.submit "Update User",class:'btn btn-secondary' %>
    <% end %>
  </div>
 </div>
</div>